* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  width:30px;
  height:30px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-menu li {
  position: relative;
}

.navbar-menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.navbar-menu a:hover {
  color: #ffcc00;
}

/* Arrow Styling */
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0059b3;
  min-width: 200px;
  z-index: 1000;
  flex-direction: column;
}

.dropdown-menu li a {
  display: block;
  padding: 0.75rem 1rem;
  color: white;
}

.dropdown-menu li a:hover {
  background-color: #003d66;
  color: #ffcc00;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown:hover .arrow {
  transform: rotate(-135deg); /* Flip arrow when menu is open */
}
